.card-container {
  display: flex;
  flex-direction: column;
  background-color: #b0b1b9;
  /* border: 1px solid rgb(0, 0, 0); */
  /* border-radius: 5px; */
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.card-container:hover {
  transform: scale(1.05);
}
